<%title "Main Page"%>
<h2><%= (link_to "Main page", user_path(current_user)) %></h2>
<br/>
<p>
   <%= link_to "New Category", new_category_path %> | <%= link_to "New Record", new_record_path %>
</p>

<br/>
<% @user_categories.each_with_index do |category,index| %>
    <%= link_to category.name, category_path(category) %>
    
    <% if index%10 == 0 and index!=0 then %>
        <br/>
    <%end%>
<% end %>

<%= will_paginate @user_categories %>

