<%= form_for @record do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, @categories.collect {|c| [ c.name, c.id ] }, :selected => @record.nil? ? '' : @record.category_id %>
  </p>
  <p>
    <%= f.label :record_date %><br />
    <%= f.date_select :record_date %>
  </p>
  <p>
    <%= f.label :information %><br />
    <%= f.text_area :information %>
  </p>
  <p>
    <%= f.label :tag_list %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p><%= f.submit %></p>
<% end %>
