<%title "Edit Record"%>
<h2><%= (link_to "Main page", user_path(current_user)) + " -> " + (link_to "Record", record_path(@record)) + " -> " + "Edit Record" %></h2>
<br/>

<%= render 'form' %>

<p>
  <%= link_to "Show", @record %> | <%= link_to "Back to category", category_path(@record.category_id) %>
</p>
