<%title "Record"%>
<h2><%= (link_to "Main page", user_path(current_user)) + " -> " + (link_to "Record", record_path(@record)) %></h2>
<br/>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Record Date:</strong>
  <%= @record.record_date %>
</p>
<p>
  <strong>Information:</strong>
  <%=h simple_format(@record.information) %>
</p>

<p>
  <strong>Tags:</strong>

  <% for tag in @record.tags%>
      <%= tag %>
  <% end %>
</p>

<p>
  <%= link_to "Edit", edit_record_path(@record) %> |
  <%= link_to "Destroy", @record, :confirm => 'Are you sure?', :method => :delete %>
  <br/>
  <br/>
  <%= link_to "Back to category", category_path(@record.category_id) %>
</p>
