/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #EDF8FF;
  font-family: sans-serif, Verdana, Helvetica, Arial;
  font-size: 14px;
}

body h2{
  font-size: 16px;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
}

body h3{
  font-size: 20px;
}

body h1{
  font-size: 12px;
  visibility:hidden;

}

a img {
  border: none;
}

a {
  color: #006BC9;
  text-decoration: none;
}

a:hover {
  color: #0786F5;
  text-decoration: underline;
}

input {
    border-radius: 3px; 
    padding: 5px;
    border: 1px solid #777777;
}

input:hover {
    background: #EBF6FF; 
}

input:focus {
    background: #EBF6FF; 
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px #1D9BD1;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
