<%= form_for @category do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :user_id, :value => current_user.nil? ? nil : current_user.id%>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit %></p>
<% end %>
