<% title "Edit Category"%>
<h2><%= (link_to "Main page", user_path(current_user)) + " -> " + (link_to "Category", category_path(@category)) + " -> " + "Edit Category" %></h2>
<br/>

<%= render 'form' %>

<p>
  <%= link_to "Show", @category %>
</p>
