<%title "Category" %>
<h2><%=  (link_to "Main page", user_path(current_user)) + " -> " + (link_to "Category", category_path(@category)) %></h2>
<br/>

<p>
  <strong>Category:</strong>
  <%= link_to @category.name, category_path(@category) %> ( <%= link_to "Edit", edit_category_path(@category) %> |  <%= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete %> )
</p>

<p>
  <strong>Records:</strong>
  
  <%= form_tag category_path(params[:id]), :method => 'get', :id => "records_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if !params[:search].nil? then%>
    Search Results. <%= @number_of_search_results %> records found.
<% end %>

<br/>
<br/>
<table >
  <tr>
    <th width=18%>Record date</th>
    <th width=62%>Information</th>
    <th width=20%>Options</th>
  </tr>
  <% for record in @records %>
    <tr>
      <td style="color:#111111"><%=h record.record_date.to_s(:long) %></td>
      <td style="padding-left:10px;padding-right:10px; color:#111111"><%= record.information %></td>
      <td><%= link_to "Edit", edit_record_path(record) %> <%= link_to "Destroy", record, :confirm => 'Are you sure?', :method => :delete %> <%= link_to "Show", record_path(record) %></td>
    </tr>
    </tr>
  <% end %>
</table>
<br/>
<%= will_paginate @records %>


<p>
  
</p>
