<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Activity tracking" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    
    <div style="width:900px; margin:auto; padding: 10px; border: solid 1px #1D9BD1; text-align:center;color: #333333;">
        <h3><strong>Activity Tracking Module</strong></h1>
    </div>
    
    <div id="container">
    <div id="user_nav">
    <% if user_signed_in? %>
        Hello, <%= current_user.username %>
       <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
       <%= link_to "Main page", user_path(current_user) %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
    </div>
    <br>

       
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      

    
      <div style="width:900px; margin:0px auto;padding: 10px 10px 100px 10px;">
        <%= yield %>
     </div>
    </div>
  </body>
</html>
